/* Navbar styles
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {
    background-color:#f2f2f2;
    overflow: hidden;
    margin-top: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  }
  
  .logo {
    color: white;
    float: left;
    padding: 14px 16px;
    font-size: 20px;
  }
  
  .nav-links {
    list-style-type: none;
    overflow: hidden;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(8, 1fr);
    gap: 20px;
    padding: 0px 20px;
    margin: 10px 0px;
  }
  
  .nav-links li {
    float: left;
  }
  
  .nav-links li a {
    display: block;
    color: rgb(20, 20, 20);
    font-weight: 600;
    text-align: left;
     padding: 5px;
    text-decoration: none;
  }
  
  .nav-links li:hover {
    background-color: #e2e0e0;
  
    
  }
  
 
  .dropdown-menu1{
    display: grid;
    position: absolute;
  
    min-width: 160px;
    grid-template-columns: repeat(3,1fr);
    padding:  0px 20px 15px 20px;
    gap: 5px;
    background-color: #ededed;
  }
  .dropdown-menu1 a:hover{
    background-color: #e2e0e0;
  }
  
 
  @media (max-width: 767px) {

    .nav-links{
        display: none;
    }
  }


  @media (min-width: 768px) and (max-width: 1023px) {
 
  .nav-links{
    grid-template-columns: repeat(5, 1fr);
    }
    #clock{
        display: none;
    }
  }


  @media (min-width: 1024px) {
   
  } */