body {
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
  }
  
  .login-container {
    width: 380px;
    margin: 5% auto 10% auto;
   padding-left: 40px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.3s ease;
    background-color:#d4D4D4;
    
  }
  
  form{
    margin-left: 20px;
  }
  
  .login-container h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 20px;
    /* margin-left: 30px; */
  }
  .form-help a{
   font-weight: 700;
   color: #333;
  }
  
  .form-group label {
    display: block;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 5px;
    color: #555;
  }
  
  .form-group input {
    width: 90%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    color: #555;
    background-color: rgb(252, 250, 250);
    outline: none;
  }
  
  .form-group input[type="submit"] {
    background-color:#ff9c0d;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    border: none;
    width: 40%;
    display: block;
    margin: 0px auto ;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .form-group input[type="submit"]:hover {
    background-color:#ffcc01;
  }
  
  .form-help {
    font-size: 12px;
    color: #777;
    margin-top: 10px;
    /* margin-left: 20px;
    */
  }
   .form-help a{
    text-decoration: underline;
  }
  .form-help a:hover{
    text-decoration: none;
  }
  
  .footer {
    text-align: center;
    margin-top: 30px;
    font-size: 12px;
    color: #777;
  }
  
  .footer a {
    color: #777;
    text-decoration: underline;
  }
  
  .footer a:hover {
    text-decoration: underline;
    
  }
  
  /* css for signup  */
  body {
    background-color: #f0f2f5;
    font-family: Arial, sans-serif;
  }
  
  .anuj-signup-container {
    width: 400px;
    margin: 3% auto 5% auto;
    /* margin-top: 80px; */
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s ease;
    background-color:#d4D4D4;
  }
  
  .anuj-heading {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  
  .anuj-form-group {
    margin-bottom: 15px;
  
  }
 
  h2{
    color: #353434;
  }
  .anuj-label {
    display: block;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 5px;
    color: #555;
  }
  
  .anuj-input {
    width: 80%;
    outline: none;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
    background-color: rgb(252, 250, 250);
  }
  
  .anuj-submit-button {
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .anuj-submit-button:hover {
    background-color: #0056b3;
  }
  
  .anuj-form-help {
    font-size: 12px;
    color: #555;
    margin-top: 5px;
  }
  .anuj-form-help a{
    text-decoration: none;
  }
  .anuj-form-help-s{
    margin-left: 5px;
    font-size: 12px;
    color: #777;
    margin-top: 10px;
    /* background-color: gray; */
    
  }
  #anuj-link-s{
    color: #2d2d2d;
    text-decoration: none;
  }
  
  #anuj-link:hover {
    text-decoration: underline;
  }
  
  .anuj-footer {
    text-align: center;
    margin-top: 30px;
    font-size: 12px;
    color: #555;
  }
  
  @media (max-width: 767px) {
    /* CSS properties for small screens */
    .login-container {
      width: 300px;

    }
    .login-container h2 {
      font-size: 20px;
     
    }
    .anuj-signup-container {
      width: 300px;
      margin: 8% auto;
      padding: 10px 30px;
     
    }
  .anuj-heading {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .form-group input[type="submit"] {
    background-color:#ffcc01;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    border: none;
    width: 40%;
    display: block;
    margin: 0px 50px ;
    border-radius: 5px;
    padding: 10px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .form-help {
    font-size: 12px;
    color: #777;
    margin-top: 10px;
    margin-left: 10px;
   
  }
  }

  /* Styles for medium screens */
  @media (min-width: 768px) and (max-width: 1023px) {
    /* CSS properties for medium screens */
    .login-container {
      width: 380px;
     margin: 15% auto;

    }
    .login-container h2 {
      font-size: 24px;
     
    }
  }

  /* Styles for large screens */

  /* shake concept  */
  
